:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* opcional: deixa o conteúdo mais organizado */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

/* menu */
nav {
  display: flex;
  gap: 20px;
  padding: 15px 0;
}

/* form */
form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

input {
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}